<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Movie_Network</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.film.servlet.UserManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>filmKindServlet</servlet-name>
    <servlet-class>com.film.servlet.FilmKindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filmKindServlet</servlet-name>
    <url-pattern>/filmKind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>filmInputServlet</servlet-name>
    <servlet-class>com.film.servlet.FilmManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filmInputServlet</servlet-name>
    <url-pattern>/admin/FilmInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findFilmServlet</servlet-name>
    <servlet-class>com.film.servlet.FindFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findFilmServlet</servlet-name>
    <url-pattern>/Findfilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>operateFilmFormServlet</servlet-name>
    <servlet-class>com.film.servlet.OperateFilmFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>operateFilmFormServlet</servlet-name>
    <url-pattern>/admin/operateFilmForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteFilmServlet</servlet-name>
    <servlet-class>com.film.servlet.DeleteFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFilmServlet</servlet-name>
    <url-pattern>/admin/deleteFilm</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>alterFilmServlet</servlet-name>
  	<servlet-class>com.film.servlet.AlterFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>alterFilmServlet</servlet-name>
  	<url-pattern>/admin/alterFilm</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>username</servlet-name>
    <servlet-class>com.film.servlet.NameModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>username</servlet-name>
    <url-pattern>/me/user.apk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userpwd</servlet-name>
    <servlet-class>com.film.servlet.PwdModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userpwd</servlet-name>
    <url-pattern>/me/user.pwd</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>com.film.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/me/user.html</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>com.film.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>